%h1 Editing Profile

= form_with(model: @profile, local: true) do |form|
  - if @profile.errors.any?
    #error_explanation
      %h2
        = pluralize(@profile.errors.count, "error")
        prohibited this profile from being saved:
      %ul
        - @profile.errors.full_messages.each do |message|
          %li= message

  .field.form-group
    = form.label :firstname
    = form.text_field :firstname, class: 'form-control'
  .field.form-group
    = form.label :lastname
    = form.text_field :lastname, class: 'form-control'
  .field.form-group
    = form.label :subtitle
    = form.text_field :subtitle, class: 'form-control'
  .field.form-group
    = form.label :bio
    = form.text_area :bio, class: 'form-control'
  .field.form-group
    = form.label :username
    = form.text_field :username, class: 'form-control'


  .actions
    = form.submit class: 'btn btn-info btn-lg btn-block'

.buttons-group
  .btn.btn-info.btn-lg
    = link_to 'Back to Profile', @profile
  .btn.btn-danger.btn-lg
    = link_to 'Edit Hobbies', profile_hobbies_path(@profile)
  .btn.btn-success.btn-lg
    = link_to 'Edit Photos', profile_photos_path(@profile)
  .btn.btn-warning.btn-lg
    = link_to 'Edit Certificates', profile_certificates_path(@profile)

