.browse-button
  .btn.btn-info
    = link_to 'Browse for friends', browse_path
%p#notice= notice


%header
  %h1
    = @profile.firstname + " " + @profile.lastname
  %h4
    = @profile.subtitle
  %hr
.row
  .col-md-8.bio
    %p
      = @profile.bio
    %p
      %strong Age:
      = @age
    %p
      %strong Email:
      = @profile.user&.email

  .col-md-4.img
    - @photos.each do |photo|
      .img-thumbnail.test
        = image_tag(photo.photo_file)



.row
  %hr
  %h2 Hobbies

.row.is-flex-row
  - @hobbies.each do |h|
    .col-md-4.col-sm-6
      .card
        .card-body
          %h4.card-title
            = h.name
          %h6.card-subtitle.mb-2.text-muted
            = h.category.name
          %p.card-text
            = h.description

.row.mx-auto
  %hr
  %h2 Certificates
  .col-sm-12
    .certificates-card
      %ul.list-group
      - @certificates.each do |certificate|
        %li.list-group-item
          = certificate.name
          = link_to 'View file', certificate.file

.row
  %hr
  %h2 Friends
.row.is-flex-row
  - @friends.each do |f|
    - begin
      - friend = HTTParty.get(f.url)
      - image = friend['image']
    - rescue Errno::ECONNREFUSED
      - image = "https://cdn-geo.dayre.me/NZKwFWXiVnyg3QLAVoB3.jpg"
    .col-md-2.col-sm-6
      .my-thumbnail-card
        .img-thumbnail
          .thumbnails
            = image_tag(image)
        .btn.btn-info.btn-block
          = link_to "#{friend['firstname']} #{friend['lastname']}", friend_path(f)




.row.actions
  %hr
  .btn.btn-info.btn-lg.btn-block
    = link_to 'Edit', edit_profile_path(@profile)


