
%p#notice= notice

%header
  %h1
    = @response['firstname'] + " " + @response['lastname']
  %h4
    = @response['subtitle']
  %hr
.row
  .col-md-8.bio
    %p
      = @response['bio']
    %p
      %strong Age:
      = @age
    %p
      %strong Email:
      = @response['email']

  .col-md-4.img
    .img-thumbnail.test
      = image_tag(@response['image'])

.row
  %hr
  %h2 Hobbies

.row.is-flex-row
  - @response['hobbies'].each do |h|
    .col-md-4
      .card
        .card-body
          %h4.card-title
            = h['name']
          %h6.card-subtitle.mb-2.text-muted
            = h['category']
          %p.card-text
            = h['description']

.row.mx-auto
  %hr
  %h2 Certificates
  .col-sm-12
    .certificates-card
      %ul.list-group
      - @response['certificates'].each do |certificate|
        %li.list-group-item
          = certificate['name']

.row.actions
  %hr
