
%p#notice= notice
%h1 Hobbies
%table.table
  %thead
    %tr
      %th Name
      %th Description
      %th Preference
      %th Category
      %th{colspan: "3"}
  %tbody
    - @hobbies.each do |hobby|
      %tr
        %td= hobby.name
        %td= hobby.description
        %td= hobby.preference
        %td= hobby.category.name
        /*%td= link_to 'Show', hobby_path( hobby )
        %td= link_to 'Edit', edit_hobby_path( hobby )
        %td= link_to 'Destroy', hobby, method: :delete, data: { confirm: 'Are you sure?' }
%br/

.row.actions
  .btn.btn-info.btn-lg.btn-block
    = link_to 'New Hobby', new_profile_hobby_path(@profile )
  .btn.btn-info
    = link_to 'Back to Edit Page', edit_profile_path(@profile)
