
= form_with(model: [@profile, @friend], local: true) do |form|
  .field.form-group
    = form.label :description
    = form.text_field :description, class: 'form-control'
  .field.form-group
    = form.label :photo_file
    = form.file_field :photo_file, class: 'form-control'

  .actions
    = form.submit class: 'btn btn-info btn-lg btn-block'

.buttons-group
  .btn.btn-info.btn-lg
    = link_to 'Back to index list', profile_photos_path( @profile )










.browse-button
  .btn.btn-info
    = link_to 'Add Friend', profile_add_friend_path(@profile, {:url => @url})


%p#notice= notice

%header
  %h1
    = @response['firstname'] + " " + @response['lastname']
  %h4
    = @response['subtitle']
  %hr
.row
  .col-md-8.bio
    %p
      = @response['bio']
    %p
      %strong Age:
      = @age
    %p
      %strong Email:
      = @response['email']

  .col-md-4.img
    .img-thumbnail
      = image_tag(@response['image'])

.row
  %hr
  %h2 Hobbies

.row.is-flex-row
  - @response['hobbies'].each do |h|
    .col-md-4
      .card
        .card-body
          %h4.card-title
            = h['name']
          %h6.card-subtitle.mb-2.text-muted
            = h['category']
          %p.card-text
            = h['description']

.row.mx-auto
  %hr
  %h2 Certificates
  .col-sm-12
    .certificates-card
      %ul.list-group
      - @response['certificates'].each do |certificate|
        %li.list-group-item
          = certificate['name']
          /= link_to 'View file', certificate.file

/.row.actions
/  %hr
/  .btn.btn-info.btn-lg.btn-block
/    = link_to 'Edit', edit_profile_path(@profile)
