%p#notice= notice
%h1 Certificates
%table.table
  %thead
    %tr
      %th Name
      %th File
      %th{colspan: "3"}
  %tbody
    - @certificates.each do |certificate|
      %tr
        %td= certificate.name
        %td= link_to 'View file', certificate.file
        /%td= link_to 'Show', certificate_path( certificate )
        %td= link_to 'Edit', edit_certificate_path( certificate )
        %td= link_to 'Destroy', certificate, method: :delete, data: { confirm: 'Are you sure?' }
%br/

.row.actions
  .btn.btn-info.btn-lg.btn-block
    = link_to 'New Certificate', new_profile_certificate_path( @profile )
  .btn.btn-info
    = link_to 'Back to Edit Page', edit_profile_path(@profile)
