/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.container { padding: 10px;}

header { text-align: center; }

header h1 { margin-top: 100px; }

.img-thumbnail img{
  max-height: 250px;
  max-width: 250px;
}

.img { text-align: center; }

.bio > p:first-of-type {
  display: inline-block;
  margin-top: 50px;
}

.row { padding: 20px; }

.btn a { color: white; }

.btn a:hover { text-decoration-line: none; }

.card {
  overflow: hidden;
  border: 0.5px solid rgb(223, 220, 220);
  padding: 10px;
  margin: 10px;
  height: 200px;
  overflow: hidden;
  width: 100%;
}

.is-flex-row {
  display: flex;
  flex-wrap: wrap;
}

.row.is-flex > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

ul li { list-style-type: none!; }

h2 { margin-left: 40px; }

.actions { text-align: right; }

.browse-button { text-align: right; }

/***************BUTTONS*******************************/

.buttons-group { margin-top: 50px; }

.actions .btn-block {
  margin-top: 50px;
  margin-bottom: 50px;
}

/****************IMAGES INDEX VIEW******************************/
td.img-thumbnail img { height: 30px; }

/****************thumbnails of friends my profile VIEW******************************/
.my-thumbnail-card {
  border: .5px solid rgb(223, 220, 220);
  width: 140px;
  margin: 20px auto;
}
.img-thumbnail .thumbnails img {
  height: 100px;
  width: 130px;
}

/***************SEARCH FRIENDS VIEW*******************************/

.jumbotron {
  width: 70%;
  margin: 0 auto;
  margin-top: 50vh;
  transform: translateY(-50%)
}

/**************PROFILE SHOW VIEW - CERTIFICATES SECTION********************************/

.certificates-card {
  max-width: 85%;
  margin: 0 auto;
}
