!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title AppTest
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'


    = stylesheet_link_tag  "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"

    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    = javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"

  %body
    %ul.navbar.navbar-dark.bg-info
      = link_to 'Home', profile_path({:id => 1}), class: 'navbar-brand'
    .container
      = yield
